mat-sidenav-content {
  height: 100vh;
}

mat-toolbar {
  margin: 0;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

mat-grid-list {
  margin: 0;
  padding: 0;
}

mat-sidenav {
  width: 20em;
}

