mat-sidenav-content {
  height: 100%;
}

mat-toolbar {
  margin: 0;
  height: 8vh;
}

.contentSidenav {
  height: 100%;
}

mat-sidenav {
  width: 20em;
}

mat-grid-list {
  margin: 0;
  padding: 0 !important;
}

button {
  width: 100%;
}

span {
  font-size: 1.5em;
}
