<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <nav>
      <ul>
        <li>
          <button mat-button color="primary" routerLink="/" (click)="sidenav.close()">
            <mat-icon aria-hidden="false">home</mat-icon>
            <span>Home</span>
          </button>
        </li>
        <li>
          <button mat-button color="primary" routerLink="/news" (click)="sidenav.close()">
            <mat-icon aria-hidden="false">fiber_new</mat-icon>
            <span>News</span>
          </button>
        </li>
        <li>
          <button mat-button color="accent" (click)="sidenav.close() && logoutUser()">
            <mat-icon aria-hidden="false">exit_to_app</mat-icon>
            <span>Me déconnecter</span>
          </button>
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <mat-grid-list cols="3" rowHeight="15:1">
        <mat-toolbar color="primary">
          <mat-grid-tile rowspan="1">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-toolbar>
      </mat-grid-list>
    </header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
