<section>
  <mat-card [formGroup]="signUpForm">

    <mat-grid-list cols="1" rowHeight="fit" class="header">
      <mat-grid-tile colspan="1" rowspan="1">
        <mat-card-title>
          <h1>Nouveau compte :</h1>
        </mat-card-title>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- Block email -->
    <mat-grid-list cols="1" rowHeight="fit" class="content">
      <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field class="formInput" appearance="outline">
            <mat-label>Email</mat-label>
            <label>
              <input matInput placeholder="exemple@gmail.fr" formControlName="email">
            </label>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <!-- Block passwords -->
    <mat-grid-list cols="2" rowHeight="fit" class="content">
      <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            </label>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>


    <mat-grid-list cols="3" rowHeight="fit" class="footer">
      <mat-grid-tile colspan="1" rowspan="1">
          <button mat-flat-button color="primary" (click)="sendSignUpForm()">Envoyer</button>
      </mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>

      <mat-grid-tile colspan="1" rowspan="1">
        <button mat-flat-button color="warn" routerLink="/auth/login">Annuler</button>
      </mat-grid-tile>
    </mat-grid-list>


  </mat-card>
</section>
