section {
  margin: 0;
  background-color: #ffffff;
  height: 92vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 5em;
}

.content {
  height: 8em;
}

.footer {
  height: 5em;
}

mat-card {
  height: 25em;
  width: 35em;
  background-color: #f5f5f7;
}

mat-form-field {
  font-size: 13px;
  width: auto;
}

.formInput {
  width: 37em;
}
