section {
  margin: 0;
  height: 92vh;
  background-color: #f5f5f7;
}

mat-grid-tile {
  margin: 0;
  height: 55vh;
  width: 100%;

}

.timeline {
  margin: 0;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
